schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--some data types that need validation--> 

    <!-- day of the week is 1 digit-->
    <xs:simpleType name="Sday">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[1-4]"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- start time of day is a 4 digit time-->  
    <xs:simpleType name="Stime">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[0-1][0-9][3][0]"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- roomn is a string-->
    <xs:simpleType name="Sroom">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    <!-- course identifier can only be 4 digits-->
    <xs:simpleType name="Scourse">
        <xs:restriction base="xs:integer">
            <xs:pattern value="[4][6-9][1-7][0]"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- type of booking is a string-->
    <xs:simpleType name="Sbooking">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>
    <!-- instructor is a string-->
    <xs:simpleType name="Sinstructor">
        <xs:restriction base="xs:string">
        </xs:restriction>
    </xs:simpleType>

    <!-- The following is the structure-->
    
    <xs:element name="schedule">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="courses">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="course">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="booking" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="day">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:byte" name="num" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="period">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="time" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="room"/>
                                                    <xs:element type="xs:string" name="instructor"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="course_num"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="periods">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="period">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="booking" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="course">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="course_nunm" use="optional"/>
                                                                    <xs:attribute type="xs:short" name="course_num" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="day">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:byte" name="num" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="room"/>
                                                    <xs:element type="xs:string" name="instructor"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="time"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="days">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="day">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="booking" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="period">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="time" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="course">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:short" name="course_num" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="room"/>
                                                    <xs:element type="xs:string" name="instructor"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="num"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>